:host {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    overflow: hidden;
}

.devices-container {
    flex: 1 0 50%;

    display: flex;
    justify-content: space-around;
    
    overflow: auto;

    padding: 10px;
}

