@use '../../../styles/variables';

$command-container-width: variables.$device-width * 2 + 60px;
$column-layout-width: variables.$device-width * 2 + 100px;

:host {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    overflow: hidden;
}

.device-wrapper {
    display: flex;

    height: 100%;

    overflow: hidden;
}

@media (max-width: $column-layout-width) {
    .device-wrapper {
        flex-direction: column;

        .command-device {
            border-right: none;
            border-bottom: variables.$border;
        }

        .field-device {
            flex-basis: calc(100vh / 2);
            justify-content: center;
        }
    }
}

.device-container {
    display: flex;
    flex-wrap: wrap;

    min-width: variables.$min-screen-size;

    overflow: auto;
}

.command-device {
    flex: 0 1 $command-container-width;

    justify-content: center;

    border-right: variables.$border;
    overflow: auto;
}

.field-device {
    flex: 1 1 calc(100vw - $command-container-width);

    justify-content: flex-start;

    overflow: auto;

    .empty-message {
        align-self: center;
        text-align: center;
        width: 100%;
    }
}
