<ems-panel class="action-panel"></ems-panel>

<div class="devices-wrapper">
    <div class="devices-container">
        @for (fieldDevice of fieldDevices$ | async; track fieldDevice.name) {
            <ems-field-device [device]="fieldDevice"></ems-field-device>
        } @empty {
            There are no field devices.
        }
    </div>
    
    <div class="devices-container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore non enim sequi eos impedit deleniti delectus dolor, nam at rerum iure. Sed soluta tempora eaque optio enim adipisci quam ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tempora, voluptate sapiente explicabo dolorem quo aliquam? Officiis facilis facere delectus eveniet quae, sit tempore praesentium, amet nostrum, consequatur nemo accusamus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore non enim sequi eos impedit deleniti delectus dolor, nam at rerum iure. Sed soluta tempora eaque optio enim adipisci quam ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tempora, voluptate sapiente explicabo dolorem quo aliquam? Officiis facilis facere delectus eveniet quae, sit tempore praesentium, amet nostrum, consequatur nemo accusamus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore non enim sequi eos impedit deleniti delectus dolor, nam at rerum iure. Sed soluta tempora eaque optio enim adipisci quam ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tempora, voluptate sapiente explicabo dolorem quo aliquam? Officiis facilis facere delectus eveniet quae, sit tempore praesentium, amet nostrum, consequatur nemo accusamus.
    </div>
</div>
