@use '../../../styles/variables';

$command-container-width: variables.$device-width * 2 + 60px;
$column-layout-width: variables.$device-width * 2 + 100px;

:host {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    overflow: hidden;
}

.device-wrapper {
    display: flex;

    overflow: hidden;
}

@media (max-width: $column-layout-width) {
    .device-wrapper {
        flex-direction: column;

        .command-device {
            border-right: none;
            border-bottom: variables.$border;
        }

        .field-device {
            justify-content: center;
        }
    }
}

.device-container {
    display: flex;
    flex-wrap: wrap;

    overflow: auto;
}

.command-device {
    flex: 0 1 $command-container-width;
    min-width: variables.$min-screen-size;

    justify-content: center;

    border-right: variables.$border;

    overflow: auto;
}

.field-device {
    flex: 1 1 auto;
    min-width: variables.$min-screen-size;

    justify-content: flex-start;

    overflow: auto;
}
