@use './variables';

.break-word {
    word-break: break-word;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.border-top {
    border-top: variables.$border;
}

.section-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.log-container {
    height: 100px;
    overflow: auto;
    padding: 10px;

    background-color: #f9f9fb;

    word-break: break-word;

    border: variables.$border;
    border-radius: 3px;

    & > ems-message, & > ems-alert-message {
        display: inline-block;
        margin-bottom: 16px;
    }
}
