@use './utils';
@use './element/scrollbar';

/* You can add global styles to this file, and also import other style files */
// CSS reset
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
}
